<!--<h1>Books#show</h1>-->
<!--<p>Find me in app/views/books/show.html.erb</p>-->
<body>
  
<p>
  <strong>Title</strong>
</p>

<p>
  <strong>Body</strong>
</p>

<div>
  <a class="back" href="/books">Back</a>  
</div>

</body>